@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #4d6bfe;
  --color-secondary: #00ff00;
}

html {
  @apply scroll-smooth;
}

::-webkit-scrollbar {
  display: none;
}
